<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Hours calculator</title>
</head>
<body>
    
    <div id="app" class="container"  >
        <h5 class="mt-4 mb-2 text-muted "> Calculator App </h5>
        <hr>

        <div class="container">

          <div class="row">
            <div class="col">
            <input class="ms-0 text-center rounded-1 " type="number" placeholder="Card number..." 
            v-model.number="identityCard"
            >
            <span class="error" style="color:red" v-if="errors">Type a valid Card Number</span>
          </div>

          <div class="col " >
            <input class=" me-2    text-center rounded-1" type="text" placeholder="Full Name..." 
            v-model="employeeName" required
            >
            <span class="error" style="color:red" v-if="errors">Type a valid Name</span>
          </div>
          
          <div class="col" >
            <input class=" me-3   ms-1 text-center rounded-1" type="number" placeholder="Amount Hours..." 
            v-model.number="hoursWorked"
            >
            
            <span class="error text-center" style="color:red" v-if="errors">Type an hour major than 10 and less than 100</span>
          </div>
            
            

            
          <div class="col-2">
            <select @input="getIndex($event)" v-model="position" class="col-12 rounded-1 text-center bg-light" >
                <option v-for="(category,i) in categories" v-text="category" class="rounded-4 text-center" ></option>
            </select>
            <span class="error text-center" style="color:red" v-if="errors">Select some category</span>  
          </div>         

            <button class="col-1 btn btn-danger text-white text-center" 
            @click="addDataUser" style="height:30px"
            > Add </button>
        </div>
    </div>


         <table class="table mt-4">
          <thead>
            <tr style="background:rgb(210, 120, 104)" class="text-center  text-white ">
              <th scope="col">Card Nº</th>
              <th scope="col">Name</th>
              <th scope="col">Hours</th>
              <th scope="col">Position</th>
              <th scope="col">To pay</th>
              <th scope="col">X</th>
              
            </tr>
          </thead>
          <tbody>
            <tr  style="background:rgb(232, 220, 220)" class="text-center text-dark" v-for="(info,i) in infoUsers" >
              <td v-text="info.cardNumber" ></td>
              <td v-text="info.name" ></td>
              <td v-text="info.hours"  ></td>
              <td v-text="info.position"  ></td>
              <td v-text="info.price * info.hours" ></td>
              <td><button class="btn btn-danger" @click="deleteUser" >Delete</button></td>
              
            </tr>
          
          </tbody>
        </table> 


    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="./app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>